/* NAVBAR */
.navContainer img {
    height: 80px;
}

.bank_name {
    font-size: 20px;
    font-family: 'Hahmlet', serif;
    cursor: default;
    color: #fff !important;
}
.bank_products .nav-link {
    font-family: 'Hahmlet', serif;
    color: #fff !important;
    font-size: 16px;
}

.menu {
    z-index: 2;
}

/* VIDEO */

.mainVideoOnPage {
    height: 550px;
}

.videoWithHouse {
    position: absolute;
    top: -100px;
    height: 750px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}


.myText {
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

.textOnVideo {
    font-size: 30px;
    backdrop-filter: blur(40px);
    color: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
} 



/* OUR STATEMENT */

/* STARS */

.stars1 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.stars {
    width: 25%;
    overflow: hidden;
}


.starsItem {
    border-radius: 50%;
    animation-name: twinkle;
    animation-iteration-count: infinite;
    background-color: white;
    overflow: hidden;
    transform: scale(0.01);
    animation-duration: 4s;
}


  @keyframes twinkle {
    50% {
      transform: scale(1);
    }
  }
  /* end of code with stars */

.location {
    font-family: 'Hahmlet', serif;
}

.baseBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangularBlock {
    margin-top: 50px;
    border-radius: 20px;
    display: inline-block;
    width: 50%;
    transition-duration: 1.2s;
    margin-left: -3000px;
    z-index: 3;
    overflow: hidden;
}

.earth {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(150, 184, 240) 100%);
}

.mars {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%,  rgba(218, 156, 138) 50%, rgb(179, 99, 74) 100%);
}

.venus {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(179, 133, 74) 100%);
}

.universe {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(148, 89, 116) 100%);
}

#nav-tabContent {
    position: relative;
    box-shadow: 0 0 10px black;
}

#nav-home-tab {
    color:rgb(150, 184, 240);
    font-family: 'Hahmlet', serif;
}

#nav-profile-tab {
    color:rgb(214, 96, 50);
    font-family: 'Hahmlet', serif;
}

#nav-contact-tab {
    color:rgb(179, 133, 74);
    font-family: 'Hahmlet', serif;
}

#nav-universe-tab {
    color: rgb(172, 123, 145);
    font-family: 'Hahmlet', serif;
}

.active.location {
    color:rgb(92, 92, 92) !important;
    font-family: 'Hahmlet', serif;
}

#nav-tabContent .tab-pane {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform:translatez(0);
    -webkit-transform:translatez(0);
}

#nav-home {
    background-image: url("images/earth.jpg");
    box-shadow: 0 0 5px black;
}

#nav-profile {
    background-image: url("images/mars.jpg");
    box-shadow: 0 0 5px rgb(175, 44, 21);
}


#nav-contact {
    background-image: url("images/venus.jpg");
    box-shadow: 0 0 5px black;
}

#nav-universe {
    background-image: url("images/universe.jpg");
    box-shadow: 0 0 5px black;
}

.mortgageHeader {
    font-size: 30px;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}


.textOfMortgages {
    margin-left: 20px;
    margin-top: 10px;
}

.btnMore {
    margin-top: 10px;
    margin-right: 50px;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite; 
    animation-direction: alternate;
    border: 1px rgba(255, 255, 255, 0.788) solid !important;
    width: 150px !important;
    font-family: 'Roboto', sans-serif;
}

.btnMore:hover {
    transition-duration: 0.5s;
    background-color: black;
}

.textMore {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.btnMore:hover .textMore {
    display: none;
}
.btnMore:hover:after {
    content: "I'll help you";
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@keyframes slide {
    0% {
        box-shadow: 0 2px 20px rgb(255, 255, 255), 0 2px 5px rgba(226, 228, 117);
    }
  
    33% {
        box-shadow: none;
    }
  
    66% {
        box-shadow: 0 2px 20px rgb(255, 255, 255), 0 2px 5px rgba(226, 228, 117);
    }

    100% {
        box-shadow: none;
    }
  }


.lastItem {
    margin-bottom: 50px;
}

  .parStyle {
    color: #56585a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
}

.mortgageCondition {
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: inherit !important;
    width: 100%;
    height: 100px;
}

table h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.tableItem td {
    vertical-align:top;
}
.tableItem1 td {
    vertical-align:bottom;
}

.tableText {
    padding: 0 5px;
}

.conditionMeaning {
    color: #56585a;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.mortgageNameWithBtn {
    display: flex;
    align-items: center;
}


.mortgageConditionItems {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-top: 20px;
    padding: 20px;
}

.conditionImage {
    width: 250px;
    border-bottom-right-radius: 20px;
    float: right;
}




/* calculate */
.calculateHeaderName {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Hahmlet', serif;
}

.calculateItems {
    border: 1px solid #c5c9ce;
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.redBorder {
    border: 1px solid rgb(184, 11, 11) !important;
}

.value_for_calculate {
    padding: 10px;
}
.last_calculate_item {
    margin-bottom: 0px;
}

.fieldNameForCalculate {
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    transform: scale(.75) translateY(4px);
    color: #fff
}

select, input {
    border: none;
}

.calculateBlock {
    display: flex;
    border: 1px solid #c5c9ce;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 50px;
    width: 800px;
    overflow: hidden;
    align-items: center;
}

.infoAboutCalculatorImg {
    cursor: pointer;
    position: absolute;
    top: 14%;
    bottom: 0;
    right: 29.7%;
}

.infoAboutCalculatorImg:hover ~ .infoAboutCalculator{
    opacity: 1;
}

.odd_block {
    position: relative;
}

.infoAboutCalculator {
    box-shadow: 0 0 5px rgb(124, 124, 124);
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: -35px;
    top: -10px;
    background-color: #fff;
    opacity: 0;
    transition: all .5s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.result {
    color: #fff;
}

.resultBlock {
    padding: 10px;
    width: 150px;
    margin-left: 50px;
}

.resultItemsBlock {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.resultItem {
    z-index: 2;
}

.resultName {
    color: #ffffff;
    font-size: 15px;
    position: relative;
    z-index: 2;
}

.locationTaxes {
    border: none;
    cursor: pointer;
    z-index: 2;
    width: 378px;
    height: 50px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    -webkit-appearance : caret;
    padding-top: 20px;
}


.backgroundColorForSelectionBox {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6264880952380952) 43%, rgba(4,0,154,0.6264880952380952) 91%);
}

.calculateItem {
    position: relative;
}

input, select {
    color: #fff;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.inputCalculateValue {
    width: 100%;
    height: 60px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}


.calculateItems:hover {
    border-left:1px solid rgba(47, 45, 45, 0.582);
    border-top:1px solid rgba(47, 45, 45, 0.582);
    border-right:1px solid rgba(47, 45, 45, 0.582);
}

/* remove arrows on input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

/* input range */
.myRange {
background: linear-gradient(90deg, rgba(119,172,241,1) 0%, rgba(62,219,240,1) 43%, rgba(192,254,252,1) 91%) !important;
    border: solid 1px #85858532;
    border-radius: 8px;
    height: 7px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }


  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #3535359a;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 9px;
    background: #C0FEFC;
    cursor: pointer;
    -webkit-appearance: none;
  }


/* Additional information */
.additional_header_name {
    font-size: 30px;
    margin-top: 50px;
    padding: 10px;
}

.last_block {
    box-shadow: 0 -5px 5px -5px rgba(180, 174, 174, 0.95);
}

.main_additional_block {
    display: flex;
    justify-content: center;
}

.additionall_block {
    padding: 40px;
    display: flex;
    align-items: center;
}

.pdf_image {
    width: 70px;
    padding: 10px;
}

/* FOOTER */

.footer {
    background-color: rgb(29, 29, 29);
    box-shadow: 0 0 10px rgb(14, 13, 13);
}

.contactInfo {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-size: 100% ;
}

.numbers {
    display: flex;
}

.numbersItem {
    padding: 25px;
    text-align: center;
}

.phoneNumberStyle {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.numberPar {
    color: white;
    font-size: 15px;
}

.socialNetworkItem {
    padding: 15px;
}

.socialNetworkItemImg {
    height: 50px;
    border-radius: 14px;
    filter: grayscale(100%) opacity(70%);
}

.socialNetworkItemImg:hover {
    filter: none;
} 

.socialNetwork {
    display: flex;
    align-items: center;
}

.contactMe {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 30px;
}


.contactMeBlock {
    display: flex;
    justify-content: center;
}

.contactMeLink {
    margin-left: 5px;
}



@keyframes emergense {
    0% {
        text-shadow: 0 0 140px rgba(226, 228, 117);
    }
  
    33% {
        text-shadow: none;
    }
  
    66% {
        text-shadow: 0 0 140px rgba(226, 228, 117);
    }

    100% {
        text-shadow: none;
    }
  }

.calculateValue {
    display: flex;
}

.backgroundWithchosenPlanet {
    background-position: -300px -300px;
    background-size: 600px;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    border-radius: 20px;
}

.imageForMars {
    background-image: url("images/mars2.png");
}

.imageForEarth {
    background-image: url("images/earth2.png");
}

.imageForVenus {
    background-image: url("images/venus2.png");
    background-size: 550px;
}

.imageForMercury {
    background-image: url("images/mercury.png");
}


.solarSystem {
    position: relative;
    right: 44px;
    top: -150px;
}

.orbit {
    border-radius: 50%;
    border: 0.1vmin solid;
    border-color: #fff;
    opacity: 0.2;
    position: absolute;
}

.orbits {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;

    position: absolute;
}

.orbitMercury {
    width: 130px;
    height: 130px;
}

.orbitVenus {
    width: 210px;
    height: 210px;
}

.orbitEarth {
    width: 310px;
    height: 310px;
}

.orbitMars {
    width: 420px;
    height: 420px;
}


.mercuryPlanet {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 80px;
    left: 100px;
    border-radius: 50%;
}

.venusPlanet {
    width: 40px;
    position: absolute;
    top: 130px;
    left: 20px;
    transform-origin:310% center;
    transform:rotate(60deg);
    border-radius: 50%;
}


.earthPlanet {
    width: 55px;
    position: absolute;
    top: 120px;
    left: -25px;
    border-radius: 50%;
    transform-origin: 320% center;
    transform:rotate(60deg);
}

.marsPlanet {
    width: 55px;
    position: absolute;
    top: 125px;
    left: -75px;
    transform-origin: 430% center;
    transform:rotate(60deg);
    border-radius: 50%;
}

.animationOne {
    transition: all 1s ease-in;
}

.animationTwo {
    transition: all 1s ease-out;
}


.sun {
    width: 100px;
    top: 100px;
    left: 100px;
    position: absolute;
}


@keyframes rotateMars {
    100% { transform:rotate(-300deg);
    }
}

@keyframes rotateEarth {
    100% { transform:rotate(-360deg);
    }
}

@keyframes rotateVenus {
    100% { transform:rotate(-420deg);
}}

/* 420 */














@media all and (max-width: 1100px) {
    #families_video {
        width: 800px;
    }
}

@media all and (max-width: 800px) {
    
    #families_video {
        width: 90%;
    }

    .social_network {
        flex-direction: column;
    }
    .number_block {
        align-items: center;
    }

    /* additional info */


    .main_additional_block {
        display: block;
    }

    .documents {
        font-size: 24px;
    }

    .menu_items {
        font-size: 20px;
        padding: 0px;
    }

    .additional_header_name {
        font-size: 25px;
    }

    .additionall_block {
        padding: 5px;
    }


    .active_statement {
        margin-top: 45px;
    }


    /* calculate */

    .calculate_block {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .calculateItems {
        margin-bottom: 10px;
        padding: none;
    }

    .calculate_header_name {
        font-size: 25px;
    }

    .resultName {
        font-size: 13px;
    }

    .result {
        font-size: 15px;
    }

    .resultBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn {
        font-size: 20px;
        width: 250px;
    }


    .apply {
        position: inherit;
        margin-top: 140px;
        margin-left: -220px;
    }

    /* services */
    .service_image {
        width: 130px;
    }

    .service_items {
        padding: 20px;
        margin: 0px;
    }

    .service_header {
        text-align: center;
    }

    .condition_image {
        display: none;
    }

    .mortgage_name_with_btn {
        justify-content: space-between;
    }

    .mobile_indoor_block, .text_of_mortgage {
        width: auto;
        margin: 20px 20px 0 20px;
    }

    .even_block {
        background-color: #f4c7ab;
    }
    
    .odd_block {
        background-color: #fff5eb;
    }

    select {
        background-color: white;
    }
}



@media all and (max-width: 500px) {

/* Additional information: mobile */
    .documents {
        font-size: 14px;
    }



/*  block of numbers */
    .phone_number_style {
        font-size: 15px;
    }

    .numbers {
        background-size: 110% ;
    }

    .social_network_img {
        filter: none;
    }

    .number_pharagraph {
        font-size: 15px;
    }

    .numbers_item {
        padding: 0px;
        margin-left: 20px;
    }


    .social_network_img {
        height: 40px;
    }


    
    /* calculate */
    .apply {
        position: inherit;
        margin-top: 30px;
        margin-left: -50px;
    }



    /* mortgage types */
    .mortgage_header_name {
        font-size: 25px;
        text-align: center;
    }

    .mortgage_name_with_btn {
        flex-direction: column;
        align-items: center;
    }

    .mortgage_condition {
        margin-top: 15px;
        padding: 5px;
    }

    .mortgage_condition_items {
        margin-top: 0px;
        padding: 0px;
    }

    .rectangular_block {
        margin-top: 20px;
    }



/* menu */

    .menu_items {
        font-size: 13px;
        padding: 0px;
    }

    .active_statement {
        margin-top: 40px;
    }

    .type_of_mortgage_items {
        font-size: 12px;
        padding: 5px;
    }

    .mortgage_condition {
        flex-direction: column;
    }

    .type_of_mortgage {
        align-items: flex-start;
    }

    .condition_meaning, .paragraph_style, 
    .offer_on_new_year, select, input, 
    .fieldNameForCalculate {
        font-size: 13px;
    }


    .even_block {
        background-color: #ffe8df;
    }
    
    .odd_block, input, select {
        background-color: white;
    }

    #families_video {
        max-width: 100%;
    }
}

@media all and (max-width: 300px) {
    .type_of_mortgage_items, .menu_items {
        font-size: 10px;
    }

    .value_for_calculate {
        padding: 10px 5px 10px 5px;
    }
}

