/*  */
.openAccount {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: flex-end;
    color: #fff;
}

.forBlur {
    backdrop-filter: blur(10px);
    background-color: rgba(230, 230, 230, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-left: 170px;
}

.openAccount h2 {
    font-family: 'Hahmlet', serif;
    padding: 20px 20px 20px 0;
}

.openAccount h4 {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.btnOnPage {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #5bddc5;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.btnWithAnimation {
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite; 
    animation-direction: alternate;
    border: 1px rgba(255, 255, 255, 0.788) solid !important;
}

.carousel-inner {
    width: auto;
    height: 700px;
    position: relative;
    box-shadow: 0 5px 10px;
}

#investmentCarousel {
    top: -100px;
}

/* WORKING HOURS */
.workHoursContainer {
    display: flex;
}

.workHoursBlock {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.time {
    display: flex;
    justify-content: space-around;
}

.time p {
    font-size: 21px;
    text-shadow: 0 5px 15px black;
}

.timeItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.hoursPar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 10px;
}

/* APPS */
.googleplay {
    background-image: url("imagesForInvestment/googleplay.png");

}

.appStore {
    background-image: url("imagesForInvestment/appstore.png");
}

.appBtn {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: cover;
    margin: 10px
}

/* TEST */
.testBlockName {
text-align: center;
padding-bottom: 30px;;
}

.testForm label{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.testBlock h3{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}
.question{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
.testBlock p {
    font-family: 'Roboto', sans-serif;
}

.testBlockWithImage {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 40px;
}

.testContainer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.testImage {
    height: 300px;
    padding-right: 100px;
}

.continue {
    border: none;
}

.back {
    font-size: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #cccccc6e;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    visibility: hidden;
}

.testButtons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
}

.disabledBtn {
    background-color: #a8b5c06e;
}

.questionBlock {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 850px;
}

.nuberOfQuestion {
    font-size: 26px;
    padding-left: 5px;
}

/* .testBlock, .testImage {
    display: none;
} */

.testBlockWithImage {
    height: 400px;
}



.btnMoreInfo {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border: none;
}

.btnMoreInfo:hover {
    background-color: #8de9d832;
}

.results, .resultImage {
    display: none;
}


/* RESULTS */
.resultImage {
    height: 230px;
    align-self: center;
    padding: 5px
}

.resultsBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.result {
    height: 100px;
    width: 500px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgb(212, 211, 211);
    padding: 10px;
}

.result h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.result p {
    font-family: 'Roboto', sans-serif;
}

.resultButtons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}